aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioimaplib==2.0.1
aiosignal==1.4.0
aiosmtplib==4.0.1
attrs==25.3.0
frozenlist==1.7.0
idna==3.10
multidict==6.6.3
propcache==0.3.2
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
qasync==0.27.1
yarl==1.20.1
